.home{
    -fx-background-color:#5F0F40;
    /*-fx-background-color: #0a0a5b;*/
}

.home-topic{
    -fx-font-weight: bold;
    -fx-font-family: Inter;
    -fx-font-size: 20pt;
}

.jbutton{
    -fx-background-color: #D9ABAB;
    /*-fx-background-color: #00E883;*/

}

.button:hover{
    -fx-background-color: #F1E5D1;
}

.line{
    -fx-background-color:#CB80AB;
}